.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 4.5vw;
    margin: -10px; /* To counteract the padding on individual cards */
  }
  
  .book-item {
    width: calc(25% - 20px); /* Adjust the width based on your layout */
    margin: 10px;
    max-width: 200px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure cards in the same row have the same height */
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card-title {
    font-weight: bold;
    margin: 10px 0;
  }
  
  .card-author {
    color: #555;
  }
  
  .add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .card-content {
    flex: 1; /* Allow the content to expand and push the button to the bottom */
  }  